/* Greentext */
.greentext-container{
	display:inline;
}
.greentext{
	color:#789922 !important;
	font-weight:500;
}

/* Color cycling */
html[rainbow] [class*="chat-"] [class*="markup"]{
	background: linear-gradient(to right,
		orange , yellow, green, cyan, blue, violet);
	background-size: 200%;
	
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	background-position: 0px 0px;
	background-repeat: repeat-x;
	animation: cycle-colors 2.5s linear infinite;
}
@keyframes cycle-colors {
	from { background-position: 0 0; }
	to { background-position: 200% 0; }
}

/* Discord Theme Global */
.dt-switch{
	display:inline-block;
	width:42px;
	height:24px;
	cursor:pointer;
}
.dt-switch input{
	display:none;
}
.dt-switch input + div{
	position:relative;
	width:100%;
	height:100%;
	border-radius:14px;
	background-color:#72767d;
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.15);
	transition:background .15s ease-in-out, box-shadow .15s ease-in-out, border .15s ease-in-out, opacity .15s ease-in-out;
}
.dt-switch input:checked + div{
	background-color:#7289da;
}
.dt-switch input + div::before{
	content:"";
	position:absolute;
	left:0;
	z-index:1;
	width:18px;
	height:18px;
	margin:3px;
	border-radius:9px;
	box-shadow:0 2px 4px rgba(0,0,0,0.3);
	background-color:#fff;
	transform:translateZ(0);
	transition:transform .15s ease-in-out,width .1s ease-in-out,left .1s ease-in-out;
}
.dt-switch:active input + div::before{
	width:26px;
	box-shadow:0 1px 2px rgba(0,0,0,0.4);
	background-color:#f6f6f6;
}
.dt-switch input:checked + div::before{
	transform:translate3d(18px,0,0);
}
.dt-switch:active input:checked + div::before{
	left:-8px;
}

.dt-option{
	color:#fff;
	cursor:pointer;
}
.dt-option input{
	display:none;
}
.dt-option input + div{
	display:flex;
	padding:10px;
	margin-bottom:8px;
	border-radius:3px;
	border: 1px solid #202225;
	background: rgba(32,34,37,0.3);
	
	font-size:16px;
	font-weight:500;
	line-height:24px;
}
.dt-option input + div > div{
	display:flex;
	align-items:center;
	justify-content:center;
	width: 24px;
	height: 24px;
	margin-right:8px;
	border-radius:3px;
	border: 1px solid #72767d;
}
.dt-option input:not(:checked) + div > div > svg{
	display:none;
}
.dt-option input:checked + div{
	border-color: rgb(114, 137, 218);
    background-color: rgb(114, 137, 218);
}
.dt-option input:checked + div > div{
    border-color: rgb(114, 137, 218);
    background-color: #fff;
}

.dt-modal-wrapper{
	position:fixed;
	top:0; left:0;
	z-index:1000;
	width:100vw;
	height:100vh;
	display:flex;
	align-items:center;
	justify-content:center;
	
	background:rgba(0,0,0,0.8);
}
.dt-modal{
	background:white;
	border-radius: 5px;
}

.dt-textarea{
	border: none;
    font-size: 0.9375rem;
    font-weight: 400;
    letter-spacing: -0.025rem;
    line-height: 1.25rem;
    margin: 2px 2px 2px 0;
    max-height: 144px;
    min-height: 20px;
    padding: 10px;
    resize: none;
    width: 100%;
	color:rgba(255,255,255,1);
	overflow:overlay;
}
.dt-textarea::-webkit-input-placeholder{
	color:white;
	opacity:0.5;
}

/* Discord Theme Settings */
.dt-settings{
	color:#f6f6f7;
}
.dt-settings .dt-settings-title{
	font-size: 16px;
	font-weight:600;
	line-height:20px;
	margin-bottom:20px;
	text-transform:uppercase;
}
.dt-settings .dt-settings-title ~ .dt-settings-title{
	margin-bottom:10px;
	letter-spacing: .5px;
	font-size: 12px;
}
.dt-settings .dt-settings-title + .dt-settings-title ~ .dt-settings-title{
	margin-top:50px;
}
.dt-settings .dt-settings-item{
	border-bottom:1px solid hsla(218,5%,47%,.3);
	padding-bottom:20px;
	margin-bottom:20px;
}
.dt-settings .dt-settings-item-main{
	display:flex;
	flex-wrap:wrap;
}
.dt-settings .dt-settings-item-name{
	flex:1 1 auto;
	font-size: 16px;
	font-weight:500;
	line-height:24px;
}
.dt-settings .dt-settings-item-description{
	flex:1 1 auto;
	font-size: 14px;
	font-weight:500;
	line-height:20px;
	color:#72767d;
}
.dt-settings input[type="text"]{
	width: 100%;
	height: 40px;
	padding: 10px;
	box-sizing: border-box;
	margin-top: 5px;

	background-color: rgba(0,0,0,.1);
	border: 1px solid rgba(0,0,0,.3);
	border-radius: 3px;

	font-size: 16px;
	color: #f6f6f7;
}
.dt-settings input[type="text"]:focus{
	border-color: #7289da;
}

/* LINE Stickers */
[class*='channelTextArea-'] textarea{
	padding-right:74px;
}
.dt-line-trigger{
	position:absolute;
	width:22px; height:22px;
	top:11px; right:46px;
	background-size:contain;
	cursor:pointer;
	
	filter: grayscale(100%);
	opacity: 0.5;
	transform: scale(1);
	transition: all .1s ease-in-out;
}
.dt-line-trigger:hover{
	filter: grayscale(0);
	opacity: 1;
	transform: scale(1.275);
}

.dt-line-container{
	position:relative;
	width:600px;
	height:600px;
	padding:0px 5px;
	box-sizing:border-box;
	background:#2f3136;
}
.dt-line-container:not([root])::before {
    content: "Shift + click - add an optional message";
    position: absolute;
    bottom: 100%;
    left: 0;
    color: white;
    font-size: 16px;
    padding: 5px;
    padding-left: 15px;
    pointer-events: none;
}
.dt-line-container .dt-line-back{
	position: absolute;
	top: 0; left: 0;
	width: 20px; height: 20px;
	padding: 10px 12px;
    z-index: 10;
	cursor: pointer;
	fill: white;
	opacity: 0.7;
	transform:scale(1);
	transition: all 0.1s ease-in-out;
}
.dt-line-container .dt-line-back:hover{
	opacity: 1;
	transform:scale(1.1);
}
.dt-line-container[root] .dt-line-back{
	display:none;
}
.dt-line-inner{
	display: flex;
    align-items: flex-start;
    justify-content: flex-start;
	flex-wrap:wrap;
	width:100%;
	height:100%;
	padding:20px;
	box-sizing:border-box;
	overflow:auto;
}
.dt-line-container .dt-line-inner::-webkit-scrollbar-thumb{
	background:rgba(100,100,100,1) !important;
	border-radius:10px;
}
.dt-line-container .dt-line-inner::-webkit-scrollbar-track-piece{
	margin:10px 0px !important;
}
.dt-line-container .dt-line-sticker{
	position:relative;
	width:25%;
	cursor:pointer;
}
.dt-line-container .dt-line-sticker[name]{
	overflow:hidden;
}
.dt-line-container .dt-line-sticker:hover{
	z-index:1;
}
.dt-line-container .dt-line-sticker .dt-line-sticker-inner{
	position:absolute;
	top:0;left:0;
	width:100%;
	height:100%;
	background-size:contain;
    background-repeat: no-repeat;
	background-position: center;
	transform:scale(1);
	transition: all 0.1s ease-in-out;
}
.dt-line-container .dt-line-sticker:hover .dt-line-sticker-inner{
	transform:scale(1.1);
}
.dt-line-container .dt-line-sticker[name]:hover .dt-line-sticker-inner{
	opacity: 0.2;
}
.dt-line-container .dt-line-sticker::before{
	content:"";
	display:block;
	padding-top:100%;
}
.dt-line-container .dt-line-sticker[name]::after {
    content: attr(name);
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
	padding:10px;
	box-sizing:border-box;
    display: flex;
    align-items: center;
    justify-content: center;
	text-align:center;
	font-weight:500;
	font-size:20px;
	
	color:white;
    /* background-color: rgba(47, 49, 54,0.8); */
	transition:opacity 0.1s ease-in-out;
	opacity:0;
}
.dt-line-container .dt-line-sticker[name]:hover::after {
	opacity:1;
}

/* File Upload */
.dt-file-dialog{
	position: relative;
	width:500px;
	background-color:#7289da;
	border-radius:10px;
}
.dt-file-dialog .dt-file-dialog-wrapper{
	position:relative;
	display:flex;
	align-items:center;
	padding:20px;
	margin:10px;
}
.dt-file-dialog .dt-file-dialog-wrapper::before{
	content:"";
	position:absolute;
	top:0;left:0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border: 2px dashed #aab8e8;
	border-radius: 10px 10px 0 0;
	pointer-events:none;
}
.dt-file-dialog .dt-file-dialog-preview{
	flex-shrink:0;
	width:100px;
	height:100px;
	background-color:white;
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	border-radius:5px;
    border: 2px solid #7289da;
    margin-left: -60px;
    margin-right: 20px;
    z-index: 1;
    position: relative;
	box-shadow: 2px 0px 8px rgba(0,0,0,.4);
}
.dt-file-dialog .dt-file-dialog-right{
	flex:1;
	display:flex;
	flex-direction:column;
}
.dt-file-dialog .dt-file-dialog-right .dt-file-dialog-name{
	max-width: 325px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
	margin-bottom:12px;
	margin-left:8px;
	color:white;
}
.dt-file-dialog .dt-file-dialog-right .dt-file-dialog-message-container{
	display:flex;
}
.dt-file-dialog .dt-file-dialog-right .dt-file-dialog-message-container .dt-file-dialog-message{
	flex-grow:1;
	height:20px;
	border:0;
	border-radius: 5px;
	background-color: #8ea1e1;
    margin-right: 10px;
}
.dt-file-dialog .dt-file-dialog-bottom{
	padding:10px;
    background-color: #5b6dae;
    border-radius: 0 0 10px 10px;
	display:flex;
	align-items:center;
	justify-content:flex-end;
}
.dt-file-dialog .dt-file-dialog-upload{
	color:#5b6dae;
	background:white;
	border-radius:5px;
	padding:10px;
	cursor:pointer;
}
.dt-file-dialog .dt-file-dialog-cancel{
	color:white;
	padding:10px;
	margin-right:10px;
	cursor:pointer;
}
.dt-file-dialog .dt-file-dialog-cancel:hover{
	text-decoration:underline;
}

/* Command Line */
#command-line {
	display: flex;
	align-items: center;
	
	height: 30px;
	padding: 0 5px;
	overflow: hidden;
	
	background-color: rgba(0,0,0,0.7);
	border: none;
	
	transition: height 100ms ease-in-out;
}
#command-line.hidden {
	height: 0px;
}
#command-line span {
	margin-right: 5px;
	
	font-family: Menlo,Consolas,Monaco,monospace;
	font-size: 18px;
	font-weight: bold;
	color: white;
}
#command-line input {
	flex-grow: 1;
	background-color: transparent;
	outline: none;
	border: none;
	
	font-family: Menlo,Consolas,Monaco,monospace;
	font-size: 14px;
	color: white;
}

/* Character Count */
[class*="channelTextArea-"] > [class*="inner-"][count]::after {
    content: attr(count) "/2000";
    position: absolute;
    right: 0; bottom: 100%;
    color: white;
    padding: 4px 0px;
    font-size: 12px;
    font-family: Consolas,Liberation Mono,Menlo,Courier,monospace;
}

/* Image Name */
[class*="modal-"] [class*="imageWrapper-"]{
	overflow:visible !important;
}
[class*="modal-"] [class*="imageWrapper-"]::before{
	content:attr(filename);
	display:block;
	position:absolute;
	bottom:100%; left:0;
	padding-bottom:5px;
	color:white;
}

