body{
	height:100vh;
	background-image: url("https://i.imgur.com/wfCknld.gif");
	background-size:cover;
	background-position:center;
}
body::before{
	content:"";
	position:absolute;
	top:0; left:0;
	display:block;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.5) !important;
}
.theme-dark{
	--trans-main: rgba(0,0,0,0.5);
	--trans-primary: rgba(64,64,64,0.8);
	--trans-secondary: rgba(32,32,32,0.8);
	--trans-clear: rgba(255,255,255,0.08);

	--background-primary: transparent;
	--background-secondary: transparent;
	--background-tertiary: transparent;
	--background-message-hover: transparent;

	--deprecated-panel-background: transparent;
	--channeltextarea-background: rgba(255,255,255,0.15);

	--elevation-low: none;
	--elevation-high: none;
}

/* DISCORD */
[name="DiscordWordmark"]{
	color: white !important;
}

/* LOGIN */
html [class*="authBox-"]{
	background: rgba(32,32,32,0.7) !important;
}
[class*="authBox-"] input{
	background: rgba(255,255,255,0.1) !important;
}
[class*="authBox-"] [class*="title-"],
[class*="authBox-"] [class*="subTitle-"]{
	color: white !important;
}
[class*="authBox-"] [type="submit"] + div{
	color: white;
}

/* ELEMENTS */
#app-mount > [class*="titleBar-"]{
	background: var(--trans-main);
	margin-top:0;
	padding-top:4px;
}
code{
	background: var(--trans-secondary) !important;
	border: 1px solid white !important;
}

/* BACKGROUND */
[class*="topSectionPlaying-"]{
	background: #7289daaa;
}
[class*="modal-"] [class*="root-"],
[class*="searchResultMessage-"],
[class*="quickswitcher"],
[class*="videoHeight-"]{
	background: var(--trans-primary) !important;
}
[class*="popouts-"] > [class*="popout-"],
html [class*="modal-"] [class*="modal-"],
html [class*="container-"][class*="elevationHigh-"],
html [class*="container-"][class*="invite-"],
[class*="uploadModal-"],
[class*="elevationBorderHigh-"],
[class*="emojiSection-"]{
	background: var(--trans-secondary) !important;
}
[class*="members-"],
[class*="search-"] [class*="searchBar-"],
[class*="searchResultsWrap-"],
[href^="/channels/@me"] > [class*="childWrapper-"],
html [class*="app-"] > [style="opacity: 1;"],
[class*="topSectionNormal-"],
[class*="stickyHeader-"],
[class*="markup-"] + [class*="container-"] > [class*="userSelectNone-"],
[id*="popout_"] [class*="container-"][role="menu"],
[class*="message-"] [class*="container-"][class*="buttons-"] [class*="wrapper-"],
[class*="messagesPopoutWrap-"],
[class*="contentWrapper-"]{
	background: var(--trans-main)!important;
}
html [class*="embedFull-"]{
	background-color: var(--trans-clear);
  border-color: var(--trans-main);
}
[class*="message-"][class*="mentioned-"]{
	background: #faa61a22 !important;
}

/* PADDINGS/MARGINS */
[class*="sidebar-"]{
	margin-left: 1px;
}
[class*='channelTextArea-'] textarea{
	padding-right: 20px !important;
}
[class*="channelTextArea-"] [class*="buttons-"]{
	margin-right: 0px;
}
[class*="chatContent-"] > [class*="form-"]{
	margin-top: 0;
}

/* BORDERS */
[class*="sidebar-"],
[class*="guilds-"]{
	border-right: 1px solid var(--background-modifier-selected);
}
[class*="panels-"]{
	border-top: 1px solid var(--background-modifier-selected);
}
[class*="content-"] [class*="sidebar-"] [class*="header-"],
[class*="chat-"] > [class*="title-"],
[class*="searchHeader-"]{
	border-bottom: 1px solid var(--background-modifier-selected);
}
[class*="searchResultMessage-"],
[class*="searchResult-"][class*="expanded-"]{
	border: 1px solid rgba(255,255,255,0.4) !important;
}


/* TEXT */
[class*="embedDescription-"]{
	margin-bottom: 4px;
}
[class*="markup-"] {
  line-height: 1.2em;
}
[class*="markup-"] code.inline{
	line-height: 1.9em;
}
[class*="groupStart-"] [class*="markup-"],
[class*="groupStart-"] [class*="markup-"] + [class*="container-"],
[class*="groupStart-"] [class*="headerCozy-"]{
	/*transform: translateY(0.2em);*/
}
[class*="timestampCozyAlt-"]{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
[class*="message-"] > [class*="container-"]{
	min-height: 1.2em !important;
}

/* Long Usernames */
[class*="message-"] [class*="header-"]{
	display: flex;
}
[class*="message-"] [class*="header-"] [class*="username-"]{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
[class*="message-"] [class*="header-"] [class*="timestamp-"]{
	flex-shrink: 0;
}


/* SCROLLBAR */
::-webkit-scrollbar{
	width:5px !important;
}
[class*="messagesWrapper-"] ::-webkit-scrollbar{
	width:8px !important;
}
::-webkit-scrollbar-thumb{
	background:rgba(255,255,255,1) !important;
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track-piece{
	border:0 !important;
}
::-webkit-scrollbar-track-piece{
	background:transparent !important;
}

/* RESET */
#app-mount,
#theme-menu,
.theme-dark,
[class*="layer-"],
[class*="container-"]:not([class*="mentioned-"]):not([class*="elevationBorderHigh-"]),
[class*="option-"]::after,
[class*="channelSeparator-"] [class*="channelName-"],
[class*="searchHeader-"],
[class*="video-"],
[class*="panels-"],
[class*="modal-"] [class*="footer-"]{
	background: none !important;
}
[class*="searchResult-"][class*="expanded-"] [class*="searchResultMessage-"]{
	border: none !important;
}
[class*="searchResultMessage-"]{
	box-shadow: none !important;
}
[class*="searchResult-"]::before,
[class*="searchResult-"]::after{
	background-image: none !important;
}
[class*="privateChannels-"] [class*="header"]{
	border: none !important;
}

/* REMOVE */
[aria-label="Send a gift"],
[aria-label="Send a gift"] + div,
[aria-label="Servers"] + [class*="tutorialContainer-"] ~ *,
[class*="gifFavoriteButton-"]{
	display: none !important;
}
