body{
	height:100vh;
	background-image: url("https://i.imgur.com/wfCknld.gif");
	background-size:cover;
	background-position:center;
}
body::before{
	content:"";
	position:absolute;
	top:0; left:0;
	display:block;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.5) !important;
}
.theme-dark {
	--trans-main: rgba(0,0,0,0.5);
	--trans-primary: rgba(64,64,64,0.8);
	--trans-secondary: rgba(32,32,32,0.8);
	
	--background-primary: transparent;
	--background-secondary: transparent;
	--background-tertiary: transparent;

	--deprecated-panel-background: transparent;
	--channeltextarea-background: rgba(255,255,255,0.15);
	
	--elevation-low: none;
	--elevation-high: none;
}

/* DISCORD */
[name="DiscordWordmark"]{
	color: white !important;
}

/* LOGIN */
html [class*="authBox-"]{
	background: rgba(32,32,32,0.7) !important;
}
[class*="authBox-"] input{
	background: rgba(255,255,255,0.1) !important;
}
[class*="authBox-"] [class*="title-"],
[class*="authBox-"] [class*="subTitle-"]{
	color: white !important;
}
[class*="authBox-"] [type="submit"] + div{
	color: white;
}

/* ELEMENTS */
#app-mount > [class*="titleBar-"]{
	background: var(--trans-main);
	margin-top:0;
	padding-top:4px;
}
code{
	background: var(--trans-secondary) !important;
	border: 1px solid white !important;
}

/* BACKGROUND */
[class*="topSectionPlaying-"]{
	background: #7289daaa;
}
[class*="modal-"] [class*="root-"],
[class*="searchResultMessage-"],
[class*="quickswitcher"]{
	background: var(--trans-primary) !important;
}
[class*="popouts-"] > [class*="popout-"] {
	background: var(--trans-secondary);
}
[class*="members-"],
[class*="search-"] [class*="searchBar-"],
[class*="searchResultsWrap-"],
[href^="/channels/@me"]{
	background: var(--trans-main)!important;
}


/* PADDINGS/MARGINS */
[class*="sidebar-"]{
	margin-left: 1px;
}
[class*='channelTextArea-'] textarea{
	padding-right: 20px !important;
}


/* BORDERS */
[class*="sidebar-"],
[class*="guilds-"]{
	border-right: 1px solid var(--background-modifier-selected);
}
[class*="panels-"]{
	border-top: 1px solid var(--background-modifier-selected);
}
[class*="content-"] [class*="sidebar-"] [class*="header-"],
[class*="chat-"] > [class*="title-"],
[class*="searchHeader-"]{
	border-bottom: 1px solid var(--background-modifier-selected);
}
[class*="searchResultMessage-"],
[class*="searchResult-"][class*="expanded-"]{
	border: 1px solid rgba(255,255,255,0.4) !important;
}

/* SCROLLBAR */
::-webkit-scrollbar{
	width:5px !important;
}
[class*="messagesWrapper-"] ::-webkit-scrollbar{
	width:8px !important;
}
::-webkit-scrollbar-thumb{
	background:rgba(255,255,255,1) !important;
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track-piece{
	border:0 !important;
}
::-webkit-scrollbar-track-piece{
	background:transparent !important;
}

/* RESET */
#app-mount,
#theme-menu,
.theme-dark,
[class*="layer-"],
[class*="container-"],
[class*="option-"]::after,
[class*="channelSeparator-"] [class*="channelName-"],
[class*="searchHeader-"]{
	background: none !important;
}
[class*="searchResult-"][class*="expanded-"] [class*="searchResultMessage-"]{
	border: none !important;
}
[class*="searchResultMessage-"]{
	box-shadow: none !important;
}
[class*="searchResult-"]::before,
[class*="searchResult-"]::after{
	background-image: none !important;
}
[class*="privateChannels-"] [class*="header"]{
	border: none !important;
}

/* REMOVE */
[aria-label="Send a gift"],
[aria-label="Send a gift"] + div,
[class*="guilds-"] [class*="listItem-"]:last-child{
	display: none !important;
}